body {
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }

}

@media (max-width: 1352px){

    .imageLogo{

        width: 350px !important;
    }

}

@media (max-width: 767px){

    .firstBanner {
        display: none;
    }

    body, html {

        height: 100%;
        background-image: url("../data/firewatch.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .secondBanner{

        background-color: transparent !important;

    }

    .loginContent {
        background-color: #fffffffa;
        border: 1px solid;
        border-radius: 30px;
    }

}

.loginContent{

    padding: 70px 0;

}

.imageBackground{

    background-image:url("../data/firewatch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.imageLogo{

    width: 500px;

}

.inputWidthFix{

    margin: 0 auto;
    width: 300px !important;

}

.btnLogin {

    color: white;
    background-color: #f14927;
    width: 150px;
    padding: 10px;

}

    .btnLogin:hover {

        background-color: #b91d12;
        color: seashell;
    }

.material-toggle {
    margin: auto;
    width: 40px;
}

    .material-toggle input:empty {
        display: contents;
    }

        .material-toggle input:empty ~ label {
            position: relative;
            float: left;
            width: 150px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .material-toggle input:empty ~ label:before,
            .material-toggle input:empty ~ label:after {
                position: absolute;
                display: block;
                content: ' ';
                -webkit-transition: all 250ms cubic-bezier(.4,0,.2,1);
                transition: all 250ms cubic-bezier(.4,0,.2,1);
            }

            .material-toggle input:empty ~ label:before {
                top: 2px;
                left: 0px;
                width: 32px;
                height: 13px;
                border-radius: 12px;
                background-color: #bdbdbd;
            }

input.switch:empty ~ label:after {
    top: 0px;
    left: -9px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.material-toggle input:checked ~ label:before {
    background-color: #1e88e5;
}

.material-toggle input:checked ~ label:after {
    left: 15px;
    background-color: #1565c0;
    border-color: #1565c0;
}

.error {
    text-align: center;
    font-size: 1.3em;
    color: #dc3545;
}