body {
    font-family: 'Lato', sans-serif;
}

.btnCreateTest {
    color: white;
    background-color: #f14927;
    width: 150px;
    padding: 10px;
}

    .btnCreateTest:hover {
        background-color: #b91d12;
        color: seashell;
    }

.labels {
    font-size: 1.1em;
}

.inputWidthFix {
    margin: 0 auto;
    width: 300px !important;
}

.gvMemos {
    width: 95% !important;
}

.error {
    text-align: center;
    font-size: 1.3em;
    color: #dc3545;
}